html {
    font-family: 'Simplifica', arial;  
}

/* background image */
body {
    background-image: url('ps42.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;
} 

div {
    display: flex;
    float: left;
    width: 45%;
    height: 950px;
    visibility: hidden;
}
main {
    color: white;
    display: flex;
    float: right;
    width: 54%;
    height: 950px;
    position: relative;   
}

/* article {
    display: flex;
    float: right;
    border: black;
    width: 54%;
    height: 200px;
} */

h1 {
    position: absolute;
    font-size: 100px;
    float: right;
    right: 250px;
}
 
h2 {
    position: absolute;
    font-size: 70px;
    float: right;
    top: 160px;
    right: 330px;
}

h3 { 
    position: absolute;
    font-size: 40px;
    float: right;
    top: 310px; 
    right: 140px;
}

#description {
    text-align: left;
    font-size: 30px;
    position: absolute;
    color: white;
    float: right;
    top: 420px; 
    right: 150px;
}

#price {
    position: absolute;
    color: red;
    font-size: 100px;
    font-weight: bold;
    float: right;
    top: 650px; 
    right: 150px;
}

#buyNow {
    position: absolute;
    color: white;
    float: right;
    top: 300px; 
    right: 100px;
    width: 400px;
    height: 200px;
} 
#add {
    position: absolute;
    color: white;
    float: right;
    top: 300px; 
    right: -200px;
    width: 400px;
    height: 200px;
}
